

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "pure-form"}) do |f| %>
    <div class="password-box">
        <%= devise_error_messages! %>
    	<h2 class="form-title">Forgot your password?</h2>
    	<fieldset>
            <%= f.email_field :email, autofocus: true, placeholder: "email@example.com" %>
        </fieldset>

    	<%= f.submit "Send me reset password instructions", :class => "button accent" %>

        <div id="links-wrap">
            <%= render "devise/shared/links" %>
        </div>
    </div>
<% end %>