<div class="login-wrap">
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <%= f.text_field :email %>
      <%= f.password_field :password %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <%= f.submit 'Sign in' %>
      <%= link_to "Forgot your password?", new_password_path(:user) %>
    <% end %>
</div>

<section class="welcome-banner">
    <h1 class="slogan">Helping the <span class="blue">World?<br />Let us help </span>you!</h1>
    <a class="button accent" href="#">Create An Account</a>
    <div class="total-counter">
        <h1 class="counter">$ 12,321,214<span class="blue">RAISED FOR</span>735<span class="blue">CHARITIES</span></h1>
    </div>
</section>

<section class="about">
    <!-- INTRO PARAGRAPH -->
    <!-- ICONS ON MODULES -->
    <div class="center-wrap">
        <div class="content-wrap">
            <p>Information about what we offer, very broadly</p>
        </div>
    </div>
</section>

<section class="gap"></section>

<section class="charities">
    <!-- LIST OF ALL CHARITIES AND HOW MUCH RAISED FOR EACH -->
    <div class="center-wrap">
        <div class="section-header-line"></div>
        <h2 class="section-header">CHARITIES</h2>
        <div class="content-wrap">
            <p>Information about what we offer, very broadly</p>
        </div>
    </div>
</section>

<section class="gap"></section>

<section class="contact">
    <!-- LINK TO contact@vampa.org -->
    <div class="center-wrap">
        <div class="section-header-line"></div>
        <h2 class="section-header">CONTACT US</h2>
        <div class="content-wrap">
            <p>Information about what we offer, very broadly</p>
        </div>
    </div>
</section>