<div class="login-wrap js-login-wrap">
    <h3>Login<a class="right js-close-login-form">x</a></h3>
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <%= f.text_field :email, :placeholder => "your@email.com" %>
      <%= f.password_field :password, :placeholder => "password" %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <%= f.submit 'Sign in', :class => "accent" %>
    <% end %>
    <%= link_to "Forgot your password?", new_password_path(:user), :class => "form-footer-link" %>
</div>

<section class="welcome-banner">
    <div class="overlay-text-wrapper">
        <h1 class="slogan">Helping the <span class="blue">World?<br />Let us help </span>you!</h1>
        <a class="button accent" href="#">Create An Account</a>
    </div>
    <div id="about" class="total-counter">
        <h1 class="counter">$ 12,321,214<span class="blue">RAISED FOR</span>735<span class="blue">CHARITIES</span></h1>
    </div>
</section>

<section class="about">
    <div class="center-wrap">
        <div class="content-wrap">
            <h4 class="about-header">Unlock the power of your network for your next charity run!</h4>
            <ol class="about-steps">
                <li class="about-step">
                    <img class="icon" src="<%= asset_path('g.png') %>" />
                    <h5>Manage Goals</h5>
                    <p>Create your fundraising goals and select the charity of your choice, then enter as much information as you want about yourself.</p>
                </li>
                <li class="about-step">
                    <img class="icon" src="<%= asset_path('g.png') %>" />
                    <h5>Get The Word Out</h5>
                    <p>Share your goal with your network in a couple easy clicks, enabling the full potential of the web for your fundraiser.</p>
                </li>
                <li class="about-step">
                    <img class="icon" src="<%= asset_path('g.png') %>" />
                    <h5>Collect Pacts</h5>
                    <p>Track incoming pacts made with you to see how much your efforts will and could raise for your favorite charity organization.</p>
                </li>
            </ol>
        </div>
    </div>
</section>

<section id="charities" class="gap"></section>

<section class="charities">
    <div class="center-wrap">
        <div class="section-header-line"></div>
        <h2 class="section-header">CHARITIES</h2>
        <div class="content-wrap">
            <ol class="charities-list">
                <li class="charity">
                    <div class="charity-logo"></div>
                    <h5 class="charity-name">Charity Name</h5>
                    <p class="charity-total">
                        <span class="green">$12,129</span> raised so far!
                    </p>
                </li>
                <li class="charity">
                    <div class="charity-logo"></div>
                    <h5 class="charity-name">Charity Name</h5>
                    <p class="charity-total">
                        <span class="green">$4,291</span> raised so far!
                    </p>
                </li>
                <li class="charity">
                    <div class="charity-logo"></div>
                    <h5 class="charity-name">Charity Name</h5>
                    <p class="charity-total">
                        <span class="green">$31,291</span> raised so far!
                    </p>
                </li>
                <li class="charity row-end">
                    <div class="charity-logo"></div>
                    <h5 class="charity-name">Charity Name</h5>
                    <p class="charity-total">
                        <span class="green">$520</span> raised so far!
                    </p>
                </li>
                <li class="charity">
                    <div class="charity-logo"></div>
                    <h5 class="charity-name">Charity Name</h5>
                    <p class="charity-total">
                        <span class="green">$12,129</span> raised so far!
                    </p>
                </li>
                <li class="charity">
                    <div class="charity-logo"></div>
                    <h5 class="charity-name">Charity Name</h5>
                    <p class="charity-total">
                        <span class="green">$4,291</span> raised so far!
                    </p>
                </li>
                <li class="charity">
                    <div class="charity-logo"></div>
                    <h5 class="charity-name">Charity Name</h5>
                    <p class="charity-total">
                        <span class="green">$31,291</span> raised so far!
                    </p>
                </li>
                <li class="charity row-end">
                    <div class="charity-logo"></div>
                    <h5 class="charity-name">Charity Name</h5>
                    <p class="charity-total">
                        <span class="green">$520</span> raised so far!
                    </p>
                </li>
            </ol>
        </div>
    </div>
</section>

<section id="contact" class="gap"></section>

<section class="contact">
    <!-- LINK TO contact@vampa.org -->
    <div class="center-wrap">
        <div class="section-header-line"></div>
        <h2 class="section-header">CONTACT US</h2>
        <div class="content-wrap">
            <p class="message">
                GoalPact is part of the <a href="http://vampa.org">VAMPA</a> network. Get in touch with us if you have questions, comments or concerns by emailing us at <a href="mailto:contact@vampa.org">contact@vampa.org</a>
            </p>
        </div>
    </div>
</section>