<h2>LANDING PAGE</h2>

<%= form_for(:user, :url => session_path(:user)) do |f| %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
  <%= f.submit 'Sign in' %>
  <%= link_to "Forgot your password?", new_password_path(:user) %>
<% end %>

<% if current_user %>
    <p><%= current_user.first_name %></p>
    <%= link_to("Logout", destroy_user_session_path, :method => "delete") %>
<% end %>
