<!DOCTYPE html>
<html>
<head>
  <title>GoalPact | Ripples Affect Us</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<a href="<%= root_path %>" id="logo">
		<h1>GOAL <span>PACT</span></h1>
	</a>

	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>