<!DOCTYPE html>
<html>
<head>
  <title>GoalPact | Ripples Affect Us</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<a href="<%= root_path %>" id="logo">
		<h1>GOAL <span>PACT</span></h1>
	</a>
  
  <% if notice %>
    <p class="notice">
      <span class="name">NOTICE</span>
      <span class="message"><%= notice %></span>
    </p>
  <% end %>

  <% if alert %>
    <p class="alert">
      <span class="name">ALERT</span>
      <span class="message"><%= alert %></span>
    </p>
  <% end %>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>