<!DOCTYPE <!doctype html>
<html lang="en" id="dash">
<%= render "head" %>
<body>
    <section id="header-wrap">
        <a href="" class="button small accent header-new-goal">New Goal</a>
        <a href="<%= root_path %>" id="logo">
            <img src="<%= asset_path('icon.png') %>" />
        </a>
        <%= link_to("Logout", destroy_user_session_path, :method => "delete", :class => "logout-link") %>
    </section>

    <div id="center-wrap">
        <%= yield %>
    </div>
</body>
</html>