<!DOCTYPE <!doctype html>
<html lang="en" id="dash">
<head>
    <title>Goal Pact | Dashboard</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="http://i.icomoon.io/public/temp/536578d84e/VAMPA/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <section id="sidebar-wrap">
        <a href="<%= root_path %>" id="logo">
            <img src="<%= asset_path('dark_logo.png') %>" />
        </a>
        <h4 class="list-header">Goals</h4>
        <ul id="goals-list">
            <li class="goal">
                <a href="#">Chicago Marathon</a>
            </li>
        </ul>
        <a href="<%= new_goal_path %>" class="new-goal">+ Set New Goal</a>
        <p class="divider"></p>
        <h4 class="list-header">Pacts</h4>
        <ul id="pacts-list">
        <li class="pact">
            <a href="#">John Doe</a>
            <span class="right">$30</span>
        </li>
        <li class="pact">
            <a href="#">Adi Malik</a>
            <span class="right">$50</span>
        </li>
        </ul>
        <a href="#" class="new-pact">+ Discover Goals</a>
        <div id="user-wrap">
            <h5>Welcome back, Alex</h5>
            <%= link_to("Logout", destroy_user_session_path, :method => "delete") %>
        </div>
    </section>

    <div id="center-wrap">
        <section id="dash-wrap">
            <%= yield %>
        </section>
    </div>
</body>
</html>