<!DOCTYPE <!doctype html>
<html lang="en">
<%= render "head" %>
<body>
    <div class="header-wrap">
        <div class="center-wrap">
            <a href="<%= root_path %>" id="logo">
                <img src="<%= asset_path('logo_white.png') %>" />
            </a>
            <ol class="navigation">
                <li><a href="<%= root_path %>" data-no-turbolink="true">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#showcase">Showcase</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li class="login js-login"><a>Login</a></li>
            </ol>
        </div>
    </div>

    <div class="modal js-login-wrap">
        <div class="modal-content login-wrap">
            <h3>Login<a class="right close-modal"><i class="icon-close"></i></a></h3>
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
              <%= f.text_field :email, :placeholder => "your@email.com", :id => "login-email" %>
              <%= f.password_field :password, :placeholder => "password" %>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
              <%= f.submit 'Sign in', :class => "accent" %>
            <% end %>
            <%= link_to "Forgot your password?", new_password_path(:user), :class => "form-footer-link" %>
        </div>
    </div>

    <section id="content-wrap">
        <%= yield %>
    </section>
</body>
</html>